 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 @import "node_modules/font-awesome/scss/font-awesome";
 @import "resources/assets/sass/utility/spaces";

 body {
   font-family: 'Lato';
 }

 //flash side massage
.flash {
  background: #F6624A;
  border-radius: 4px;
  color: white;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 1em;
  display: none;
}

// --or-- separator classes
.or {
  margin: 25px 15px 5px 15px;
  border-top: 1px solid #ebedf0;
  display: block;
}

.or-text {
  margin: -15px auto 0;
  background: #fff;
  padding: 3px 9px;
  width: 30px;
  display: block;
  color: #4F5154;
}

// custom buttons
.btn-facebook {
  background-color: #627AAD;
  color: #fff;
}

.btn-facebook:hover {
  background-color: #496092;
  color: #fff;
}

 .btn-facebook:active {
   background-color: #3b4c77;
   color: #fff;
 }

 .btn-facebook:focus {
   background-color: #496092;
   color: #fff;
 }

.btn-twitter {
  background-color: #55acee;
  color: #fff;
}

.btn-twitter:hover {
  background-color: #3e7dae;
  color: #fff;
}

 .btn-twitter:active {
   background-color: #376e99;
   color: #fff;
 }

 .btn-twitter:focus {
   background-color: #3e7dae;
   color: #fff;
 }

.btn-linkedin {
  background-color: #0077b5;
  color: #fff;
}

.btn-linkedin:hover {
  background-color: #006193;
  color: #fff;
}

 .btn-linkedin:active {
   background-color: #005580;
   color: #fff;
 }

 .btn-linkedin:focus {
   background-color: #006193;
   color: #fff;
 }

.btn-google {
  background-color: #c53929;
  color: #fff;
}

.btn-google:hover {
  background-color: #972c20;
  color: #fff;
}

 .btn-google:active {
   background-color: #7f251b;
   color: #fff;
 }

 .btn-google:focus {
   background-color: #972c20;
   color: #fff;
 }

 //navigation bar
 .nav-profile-photo {
   border: 2px solid #d3e0e9;
   border-radius: 50%;
   height: 40px;
   padding: 2px;
   width: 40px;
   height: 50px;
   width: 50px;
 }

 .navbar-nav > li > a, .navbar-brand, .hamburger {
   height: 70px;
   padding-top: 0px;
   padding-bottom: 0px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .hamburger {
   float: right;
 }