// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Icons
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Other
@import "resources/assets/sass/utility/spaces";
@import "resources/assets/sass/utility/buttons";
@import "resources/assets/sass/utility/tables";
@import "resources/assets/sass/utility/radios-checkboxes";

html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

// VueJS 'hide until compiled' directive
[v-cloak] {
  display: none;
}

//flash side massage
.flash {
  background: #F6624A;
  border-radius: 4px;
  color: white;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 1em;
  display: none;
}

// --or-- separator classes
.or {
  margin: 25px 15px 5px 15px;
  border-top: 1px solid #ebedf0;
  display: block;
}

.or-text {
  margin: -15px auto 0;
  background: #fff;
  padding: 3px 9px;
  width: 30px;
  display: block;
  color: #4F5154;
}

//navigation bar
.nav-profile-photo {
  border: 2px solid #d3e0e9;
  border-radius: 50%;
  height: 40px;
  padding: 2px;
  width: 40px;
  height: 50px;
  width: 50px;
}

.navbar-nav > li > a,
.navbar-brand,
.hamburger {
  height: 70px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hamburger {
  float: right;
}